@import 'reset';
@import 'mixins';
@import 'templates';
$font-main: Arial, Helvetica;
$primary-color: #555;

body{
    font: $font-main;
    color: #555;
}

nav{
    ul{
        margin:0;
        font: $font-main;
    }

    li {display: block;}
}

.box {@include transform(rotate(30deg))};

div {
    @include transform(60deg); 
}

.message {
    @extend %ms;
    display: block;
}

.container {
    width: 300/600 * 100%;
}
