{% extends "base.html" %}

{% block content %}
    <h2>О конкурсе читателей в роли литературных критиков:</h2>
                 <h1> "U vs Alice/Вы против Алисы" </h1>
    <p></p>
    <p>В данном проекте каждому зарегистрированному пользователю представляется возможность:
    </p>
    <p>
        1) Ознакомиться с размещённым на сайте художественным произведением Антуана де ла Мармота;
    </p>
    <p>
        2) По прочтении произведения ознакомиться с рецензией на него робота Алисы;
    </p>
    <p>
        3) Участвовать в написании собственной резенции на это произведение в объёме 1000-1500 знаков.
    </p>
    <p>
        По истечении месяца:
    </p>
    <p>
        1) Автором произведения будет выбрана лучшая по глубине восприятия
        рецензия победителя, отражающая наиболее полно и точно основную мысль произведения,
        выраженную автором через стиль изложения и детали сюжета;
    </p>
    <p>
        2) Содержание рецензии победителя будет опубликовано
        вместе с размещённой ранее на сайте рецензией Алисы для сравнения восприятия смысла
        художественного произведения как человеком, так и роботом,
        (т.е. для сопоставления точек зрения на произведение человека и машины);
    </p>
    <p>
        3) Победитель конкурса получит в качестве памятного подарка книгу, содержащую произведение
        Антуана де ла Мармота с автографом автора.
    </p>
{% endblock %}

<!-- {% extends "base.html" %}

{% block content %}
    <h1>Информация о нас!</h1>
    <p>Мы....</p>
{% endblock %} -->
